{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>{{ article.getTitle() }}</h1>
                <h3>{{ article.getSubtitle() }}</h3>
                {{ article.getBody() }}
            </div>
        </div>
    </div>
</article>

<hr>

<div class="container">
    <div class="row">
        <h3 class="col-lg-8 col-md-10 mx-auto">2 Comments</h3>
    </div>
    
    <!-- Comments Form -->
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" class="form-control form-control-sm" type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" class="form-control form-control-sm" type="email">
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea id="comment" class="form-control form-control-sm" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
            <div class="media-body">
                <h5 class="mt-0">John Doe <small>2020-03-19</small></h5>
                <blockquote>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</blockquote>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
            <div class="media-body">
                <h5 class="mt-0">Foo Bar <small>2020-04-19</small></h5>
                <blockquote>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</blockquote>
            </div>
        </div>
    </div>
</div>
{% endblock %}
